#body-replacement {
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0 0 0 0;
}

#background {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(90deg, #e54c268d, #f164288a, #0b73b884, #2ea9de8a, #daba2c87, #ffd83a8a);
}

#bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress{
    position: relative;
}

#percent{
   width: 100%;
   position: absolute;
   text-align: center;
   font-weight: 700;
}

.category {
    position: absolute;
    top:40%;
    z-index: 2;
    height: 150px;
    width: 150px;
}

#js {
    right: 5%;
}

#html{
    left:5%
}

#css{
    left:0;
    right: 0;
    margin: auto;
}

#navbar-title {
    z-index: 1;
}

#card-container {
    width: 100% !important;
}

.card-container {
    width: 35% !important;
}

.card-img-top {
    max-height: 150px;
    object-fit: cover;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    background-color: white !important;
}

.question-line {
    display: flex;
    flex-direction: row;
}

.card {
    margin-top: 6px;
}

.option:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}